<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css /">
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<!-- section 1-->
		<div class="container">
			<div class="section1 row">
				<!-- heading-->
				<div class="page-header">
				  <h1>File seach</h1>
				</div>
				<!-- search -->
				<div class="row">
					<div class="col-lg-6">
					    <div class="input-group">
					      <input type="text" class="form-control" placeholder="Search for...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</div>
			</div>
			<div class="row">
				<table class="results_table table table-bordered">
					<thead>
						<tr>
							<th id="image_head">Image</th>
							<th>CSS selector</th>
							<th>File Location</th>
							<th>Size(KB)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="./images/delete_icon.png" width="50px" height="50px"/></td>
							<td>div.del-btn</td>
							<td>
								<a target="_blank" href="C:\Users\Gainsight\https\files\public\UI\GSAppCSS\css\adoption\adoption-style.css">
									<i style="width: 876px">C:\Users\Gainsight\https\files\public\UI\GSAppCSS\css\adoption\adoption-style.css</i>
								</a>
							</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- section 2-->
		<div>
			<table>
				
			</table>
		</div>
	</body>
</html>