<html ng-app = "cssDocs">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<script type="text/javascript" src = "angular.min.js"></script>
		<script type="text/javascript" src = "app.js"></script>
	</head>
	<body>
		<!-- section 1-->
		<div class="container" ng-controller = "MainCtrl">
		{{name}}
			<div class="section1 row">
				<!-- heading-->
				<div class="page-header">
				  <h1>File seach</h1>
				</div>
				<!-- search -->
				<div class="row">
					<div class="col-lg-6">
					    <div class="input-group">
					      <input type="text" class="form-control" placeholder="Search for...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</div>
			</div>
			<div class="row">
				<table class="results_table table table-bordered">
					<thead>
						<tr>
							<th id="image_head">Image</th>
							<th>CSS selector</th>
							<th>File Location</th>
							<th>Size(KB)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "fileStats in imageToFile">
							<td><img src="./images/delete_icon.png" width="50px" height="50px"/></td>
							<td>{{fileStats.matchedContent[0].split("{")[0]}}</td>
							<td>
								<a target="_blank" href="javascript:void(0)">
									<i style="width: 876px">{{fileStats.fileName}}</i>
								</a>
							</td>
							<td>{{fileStats.size/1000}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- section 2-->
		<div>
			<table>
				
			</table>
		</div>
	</body>
</html>