<html ng-app = "cssDocs">
	<title>CSSDOCS | Simple As You Like</title>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<script type="text/javascript" src = "angular.min.js"></script>
		<script type="text/javascript" src = "app.js"></script>
	</head>
	<body ng-controller = "MainCtrl">
		<!-- section 1-->

		<header>
			<ul>
				<li>CSS DOCS</li>
				<li class = "metrics">CSS Files #{{allCSSFiles.length || 0}}</li>
				<li class = "metrics">Images #{{allImages.length}}</li>
			</ul>
			
		</header>
		<div class="container">
			<div class="section1 row">
				
				<!-- search -->
				<div class="searchRow">
					<div class = "searchWrapper">
						<input type="text" class = "searchInput" placeholder = "Search Any Thing ...." ng-model = "search">
					</div>
				</div>
			</div>
			<div class="row">
				<table class="results_table table">
					<thead>
						<tr>
							<th id="image_head">Image</th>
							<th >CSS selector</th>
							<th >File Location</th>
							<th >Size(KB)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "fileStats in imageToFile | filter:search">
							<td class="col-md-2">
								<a href = "{{fileStats.imgPath}}" target="_blank">
									<img src="{{fileStats.imgPath}}" width="50px" height="50px"/>
								</a>
							</td>
							<td class="col-md-6">{{fileStats.matchedContent[0].split("{")[0]}}</td>
							<td class="col-md-2">
								<a target="_blank" href="javascript:void(0)">
									<i style="width: 876px">{{fileStats.fileName}}</i>
								</a>
							</td>
							<td class="col-md-2">{{fileStats.fileSize/1000}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- section 2-->
		<div>
			<table>
				
			</table>
		</div>
	</body>
</html>